<!doctype html>
<html>
<head>
	<script src='../pub/jquery.min.js'></script>
	<meta charset='utf-8'>
</head>
<style>
	* {
		margin: 0;
		padding: 0;
	}
	.box {
		width: 980px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}
	.com-item {
		float: left;
		width: 300px;
		height: 130px;
		margin: 10px;
		overflow: hidden;
	}
	.com-item img {
		float: left;
		width: 116px;
		padding: 2px;
		border: 1px solid #ddd;
	}
	.com-item img:hover {
		border-color: #699f00;
	}
	.com-item .detail {
		margin-left: 120px;
		padding: 3px 10px;
	}
</style>
<body>
<div class='box'>
	<a class='com-item'>
		<img src='http://www.qiyipic.com/news/fix/zlqp/01.jpg'>
		<div class='detail'>
			<h3 class='com-title'>盘点全球迎新年奇葩习俗</h3>
			<p>全球迎新年最奇葩习俗榜单揭晓，名列榜首的是智利中部小城的习俗。除夕夜，当地人聚在公墓墓园，与死去的亲人共同迎接新年曙光。</p>
		</div>
	</a>
	<a class='com-item'>
		<img src='http://www.qiyipic.com/news/fix/zlqp/01.jpg'>
		<div class='detail'>
			<h3 class='com-title'>盘点全球迎新年奇葩习俗</h3>
			<p>全球迎新年最奇葩习俗榜单揭晓，名列榜首的是智利中部小城的习俗。除夕夜，当地人聚在公墓墓园，与死去的亲人共同迎接新年曙光。</p>
		</div>
	</a>
	<a class='com-item'>
		<img src='http://www.qiyipic.com/news/fix/zlqp/01.jpg'>
		<div class='detail'>
			<h3 class='com-title'>盘点全球迎新年奇葩习俗</h3>
			<p>全球迎新年最奇葩习俗榜单揭晓，名列榜首的是智利中部小城的习俗。除夕夜，当地人聚在公墓墓园，与死去的亲人共同迎接新年曙光。</p>
		</div>
	</a>
	<a class='com-item'>
		<img src='http://www.qiyipic.com/news/fix/zlqp/01.jpg'>
		<div class='detail'>
			<h3 class='com-title'>盘点全球迎新年奇葩习俗</h3>
			<p>全球迎新年最奇葩习俗榜单揭晓，名列榜首的是智利中部小城的习俗。除夕夜，当地人聚在公墓墓园，与死去的亲人共同迎接新年曙光。</p>
		</div>
	</a>
</div>
</body>
</html>